header, footer {
  width: 100%;
  padding: 10px;
  background: #c52f24;
  color: #fff;
  margin: 0px;

  display: block;

}

.alert_success {
  background-color: #98ecaa7a;
  border: 2px solid #5cd075;
  padding: 15px;
  width: 400px;
  text-align: center;
}

.alert_delete  {
  background-color: #ec98ac8f;
  border: 2px solid #ec7592;
  padding: 15px;
  width: 400px;
  text-align: center;
}



  
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
  
table th {
    background-color: #ffdfdf;
}
table td {
  background-color: #f1c8c861;
}
table th, table td {
    border: solid 1px black;
    padding: 10px 20px;

    
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}


table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}
  
.notice {
    background-color: #ccf;
    padding: 5px;
  }








h1 {
    display: inline;
}










.alert__delete, .alert__failure {
  background-color: #ec98ac8f;
  border: 2px solid #ec7592;
}

.alert {
  padding: 15px;
  width: 400px;
  text-align: center;
}